---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialLinks from "../components/socials.astro";
---

<BaseLayout>
	<main class="pt-20 px-6 pl-30">
		<h1 class="text-7xl pt-55">Mayur Raut</h1>
		<p class="pt-2 text-2xl text-gray-500">
			I'm a passionate developer and tech enthusiast.
		</p>
		<div class="pt-80">
			<SocialLinks />
		</div>
	</main>
</BaseLayout>
